@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.divider-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    #d0d0d0 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-s {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
}

.font-sm {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.5px;
}

.font-m {
  font-size: 15px;
  line-height: 22px;
}

.font-l {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.font-l-letter {
  font-size: 16px;
  line-height: 26px;
}

.font-l-line {
  font-size: 16px;
  line-height: 21px;
}

.font-blog {
  font-size: 22px;
  line-height: 32px;
}

.font-h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.015em;
}

.font-h2-letter {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1599999964237213px;
}

.font-h2-dark {
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.1599999964237213px;
}

.font-h2-new {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.015em;
}

.counter-text {
  font-size: 42px;
  line-height: 52px;
}

.counter-style-1 {
  background: linear-gradient(152.74deg, #f53843 10%, #2f5795 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.counter-style-2 {
  background: linear-gradient(151.01deg, #ffa229 10%, #1c4670 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-line {
  background: linear-gradient(180deg, #ffa229 0%, #1c4670 84.9%);
}
.image-location {
  position: absolute;
  top: -340px;
  width: 100%;
  margin: auto;
  z-index: 1;
}

.faq-border {
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: #00000020;
  box-shadow: 0px 0px 5.22px 0.78px #00000024;
}

.shadow-btn {
  box-shadow: 0px 1px 2px 0px #1018280a;
}

.shadow-btn-blue {
  box-shadow: 8px 8px 56px 0px #fbc75e1a;
}

.explore-text {
  font-size: 17.6px;
  line-height: 26.4px;
  letter-spacing: 0.1599999964237213px;
}

.hero-gradient {
  background: linear-gradient(
    113.91deg,
    #ffffff 8%,
    rgba(255, 240, 220, 0.67) 28%,
    rgba(237, 246, 255, 0.7) 36%
  );
}

.hero-gradient-number {
  background: linear-gradient(127.81deg, #ffa229 10%, #1c4670 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abs-radius {
  border-radius: 12px 0px 0px 12px;
}
